@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  -webkit-overflow-scrolling: touch; }
  *:focus {
    outline: 0; }

body {
  background: #e5e5e5;
  width: 1300px;
  height: 900px; }
  body button {
    cursor: pointer; }
  body .card {
    width: 1057px;
    height: 708px;
    margin-left: 146px;
    margin-top: 96px;
    background: #ffffff;
    border-radius: 15px;
    border: 1px solid #6b9bd1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute; }
    body .card .left-side {
      position: absolute; }
      body .card .left-side form {
        margin-left: 89px;
        margin-top: 64px; }
        body .card .left-side form .text-area h1 {
          font-family: Rokkitt;
          font-size: 36px;
          font-weight: 700;
          line-height: 41px;
          letter-spacing: 0em;
          text-align: left;
          color: #161843; }
        body .card .left-side form .text-area p {
          font-family: Mulish;
          margin-top: 15px;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          width: 339px; }
        body .card .left-side form .box-area {
          margin-top: 52px; }
          body .card .left-side form .box-area .inputArea {
            width: 430px;
            height: 73px;
            border: 1px solid #cad6e4;
            border-radius: 5px;
            font-size: 18px;
            padding: 25px; }
          body .card .left-side form .box-area ::placeholder {
            font-family: Mulish;
            font-size: 18px;
            color: #717a91; }
          body .card .left-side form .box-area .inputArea:focus {
            border-color: #6b9bd1;
            transition-duration: 1s; }
          body .card .left-side form .box-area .inputArea:focus::-webkit-input-placeholder {
            transform: translateX(150%);
            transition-duration: 2.5s; }
          body .card .left-side form .box-area .box-end {
            margin-top: 16px; }
            body .card .left-side form .box-area .box-end a {
              font-family: Mulish;
              color: #0c6787; }
            body .card .left-side form .box-area .box-end a:hover {
              color: #165369; }
            body .card .left-side form .box-area .box-end button {
              background: #046586;
              color: #ffffff;
              width: 154px;
              height: 73px;
              border: 1px solid #000000;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 5px;
              margin-left: 139px;
              margin-top: 5px; }
              body .card .left-side form .box-area .box-end button p {
                position: absolute;
                margin-left: 35px;
                margin-top: 10px;
                font-family: Mulish;
                font-weight: bold;
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 1px; }
              body .card .left-side form .box-area .box-end button img {
                margin-left: 49px;
                margin-top: 5px; }
            body .card .left-side form .box-area .box-end button:hover {
              background: #10607a; }
          body .card .left-side form .box-area .hr-img {
            margin-top: 55px; }
          body .card .left-side form .box-area .logWith {
            font-family: Mulish;
            color: #838a9e;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            margin-top: 35px; }
          body .card .left-side form .box-area .social {
            margin-top: 30px; }
            body .card .left-side form .box-area .social button {
              width: 207px;
              height: 55px;
              border: 1px solid #cad6e4;
              background-color: #ffffff;
              margin-right: 16px; }
              body .card .left-side form .box-area .social button img {
                margin-left: 45px;
                margin-top: 10px;
                margin-right: 45px;
                margin-bottom: 10px;
                width: 115px;
                height: 35px; }
            body .card .left-side form .box-area .social button:hover {
              border-color: #9eaab8; }
            body .card .left-side form .box-area .social button:nth-child(2) img {
              width: 97px; }
          body .card .left-side form .box-area .signUp {
            font-family: Mulish;
            text-align: center;
            margin-top: 60px;
            color: #000000;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 1px; }
            body .card .left-side form .box-area .signUp a {
              color: #046586; }
            body .card .left-side form .box-area .signUp a:hover {
              color: #165369; }
    body .card .right-side {
      width: 449px;
      height: 708px;
      margin-left: 608px;
      position: absolute;
      border-radius: 0px 15px 15px 3px;
      background: url("../img/rectangle.jpg"); }
      body .card .right-side .exitCircle {
        height: 46px;
        width: 46px;
        border-radius: 23px;
        background: #ffffff;
        opacity: 0.7;
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        cursor: pointer; }
        body .card .right-side .exitCircle img {
          width: 28px;
          height: 28px;
          margin-left: 9px;
          margin-top: 9px; }
      body .card .right-side .exitCircle:hover {
        opacity: 0.9; }

/*# sourceMappingURL=style.css.map */
